Zehnder_flows.json
[{"id":"e4e8897c.645f28","type":"tab","label":"Zehnder","disabled":false,"info":""},{"id":"e191a47b.9647c","type":"function","z":"e4e8897c.645f28","name":"global setup","func":"if (!context.global.Zehnder) {\n  context.global.Zehnder = {};\n}\n\n// write down the Home Automation applications used\n// Possible values: Domoticz, InfluxDB, openHAB, HomeAssistant\n// comma seperated and case sensitive\ncontext.global.Zehnder.HAapplication = \"Domoticz\";\n\n\n//This is the overview of sensors which has to be sent to the Home Automation system\ncontext.global.Zehnder.SensorMapping = [\n    // [\"name for storing hum\", \"name of mqtt topic tem\", \"mqtt humidity\", IDx in Domoticz/Name in Home Assistant/ ]\n    [\"ExtractTemp\",\"274\", \"290\", 74, \"TempHum\"],\n    [\"ExhaustTemp\", \"275\", \"291\", 75, \"TempHum\"],\n    [\"OutdoorTemp\", \"276\", \"292\", 76, \"TempHum\"],\n    [\"SupplyTemp\", \"221\", \"294\", 77, \"TempHum\"],\n    [\"FanSpeed\", \"65\", null, 78, \"Selector Switch\"],\n    [\"AirFlow\", \"120\", null, 79, \"Airflow\"],\n    [\"FilterChange\",\"192\",null,80, null]\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"7b4f5670.4f01d","type":"inject","z":"e4e8897c.645f28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Startup","payload":"","payloadType":"date","x":150,"y":60,"wires":[["e191a47b.9647c"]]},{"id":"7d9ba5e7.af046c","type":"function","z":"e4e8897c.645f28","name":"Map sensor to ID","func":"// if there's an entry in the global defined variable then \n// the value needs to be saved (send) to next function \nvar sensorsplit = msg.topic.split(\"/\");\nvar sensor = sensorsplit[sensorsplit.length-1];\n \nvar sensorvalue = msg.payload;\n \nfor (i = 0; i < context.global.Zehnder.SensorMapping.length; i++) {\n    // when sensor is in the global settings \n    msg.sensor = sensor;\n    if(sensor == context.global.Zehnder.SensorMapping[i][1]){\n        //airflow change too ofen, so will update every 5 min\n        if (\"AirFlow\" == context.global.Zehnder.SensorMapping[i][0] && Math.abs(sensorvalue - flow.get('Airflow'||0)) < 4){\n            return;\n        }else{\n            flow.set('Airflow', sensorvalue);\n        }\n        \n        \n        if(context.global.Zehnder.SensorMapping[i][1] > 0 && context.global.Zehnder.SensorMapping[i][4] == 'TempHum'){\n            msg.payload = sensorvalue/10+\";\"+flow.get(context.global.Zehnder.SensorMapping[i][0])||0;\n        }\n        msg.HAid = context.global.Zehnder.SensorMapping[i][3];\n\n        // add type (if it exists):\n        if(context.global.Zehnder.SensorMapping[i][4]){\n            msg.type = context.global.Zehnder.SensorMapping[i][4];\n        }    \n        return msg;\n        \n    }\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["df2930fa.0f3ed8"]]},{"id":"66a82471.8a1e4c","type":"debug","z":"e4e8897c.645f28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":80,"wires":[]},{"id":"4eddd207.0dab7c","type":"debug","z":"e4e8897c.645f28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"a4ad5fd5.958918","type":"mqtt in","z":"e4e8897c.645f28","name":"Zehnder_Out","topic":"Zehnder/ComfoAirQ350/#","qos":"2","datatype":"auto","broker":"2298f8af.6176e8","x":110,"y":280,"wires":[["dd7a4124.2c1898","7d9ba5e7.af046c"]]},{"id":"dd7a4124.2c1898","type":"function","z":"e4e8897c.645f28","name":"Storing_hum","func":"var sensorsplit = msg.topic.split(\"/\");\nvar sensor = sensorsplit[sensorsplit.length-1];\nvar sensorvalue = msg.payload;\n\nfor (i = 0; i < context.global.Zehnder.SensorMapping.length; i++) {\n    if(sensor == context.global.Zehnder.SensorMapping[i][2]){\n        flow.set(context.global.Zehnder.SensorMapping[i][0],  sensorvalue)\n    }\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["4eddd207.0dab7c"]]},{"id":"df2930fa.0f3ed8","type":"function","z":"e4e8897c.645f28","name":"Prepare Domoticz output","func":"if(msg.HAid !== null){\n    msg1 = {};\n    msg1.payload = {};\n    msg1.payload.idx = msg.HAid; \n    msg1.topic = \"domoticz/in\";\n\n    if(msg.type == \"Selector Switch\"){\n        msg1.payload.command = \"switchlight\";\n        msg1.payload.switchcmd = \"Set Level\";\n        msg1.payload.level = msg.payload * 10;\n    }else if(msg.type == \"Switch\"){\n        msg1.payload.command = \"switchlight\"\n        if(msg.payload == 1){ cmd = \"On\"; }else{ cmd=\"Off\"}\n        msg1.payload.switchcmd = cmd;\n    }else if(msg.type == \"TempHum\"){\n        msg1.payload.svalue = msg.payload+\";0;\";\n    }else if(msg.type == \"Airflow\"){\n        msg1.payload.svalue = msg.payload;\n    }else{\n        msg1.payload.svalue = msg.payload;\n    }\n    return msg1;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":180,"wires":[["66a82471.8a1e4c","5dd72eb8.5e9cd"]]},{"id":"5dd72eb8.5e9cd","type":"mqtt out","z":"e4e8897c.645f28","name":"Domoticz_Out","topic":"domoticz/in","qos":"","retain":"","broker":"1347c427.1f652c","x":970,"y":220,"wires":[]},{"id":"33047464.f29204","type":"mqtt in","z":"e4e8897c.645f28","name":"Domoticz Out","topic":"domoticz/out","qos":"2","datatype":"json","broker":"1347c427.1f652c","x":120,"y":500,"wires":[["71c4610b.e819d8"]]},{"id":"d4cd3077.3cc148","type":"debug","z":"e4e8897c.645f28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":500,"wires":[]},{"id":"71c4610b.e819d8","type":"function","z":"e4e8897c.645f28","name":"GettingZenherSpeed","func":"if (msg.payload.idx == 78) {\n    DomSpeedValue = msg.payload.svalue1;\n    if(DomSpeedValue !== 0){\n        msg.payload = DomSpeedValue/10;\n    }else{\n        msg.payload = DomSpeedValue;\n    }\n    return msg;\n}else{\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[["d4cd3077.3cc148","b9af8e63.99d32"]]},{"id":"b9af8e63.99d32","type":"mqtt out","z":"e4e8897c.645f28","name":"Zehnder_In","topic":"Zehnder/ComfoAirQ350/ExecuteFunction","qos":"","retain":"","broker":"1347c427.1f652c","x":660,"y":600,"wires":[]},{"id":"2298f8af.6176e8","type":"mqtt-broker","name":"","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1347c427.1f652c","type":"mqtt-broker","name":"MQTT_orange","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]